# ==========================================
# Python
# ==========================================

__pycache__/
*.py[cod]

# Virtual Environment
.venv/
venv/

# ==========================================
# Environment / Secrets
# ==========================================

.env
*.env

# ==========================================
# Password Manager Data
# ==========================================

data/passwords.db
data/encryption.key

# ==========================================
# Logs
# ==========================================

logs/*.log

# ==========================================
# IDE
# ==========================================

.vscode/
.idea/

# ==========================================
# OS Files
# ==========================================

.DS_Store
Thumbs.db